@import "tailwindcss";
@import "tailwindcss/utilities";

* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: #111;
  color: #ffffff;
}

@layer components {
  .small-font-size {
    @apply text-sm;
  }

  .medium-font-size {
    @apply text-xl;
  }

  .standard-font-size {
    @apply text-2xl;
  }

  .h1-font-size {
    @apply text-6xl;
  }

  .h2-font-size {
    @apply text-4xl;
  }

  .bottom-linear-gradient-border {
    @apply relative after:absolute after:content-[''] after:w-full after:h-[1px] after:left-0 after:bottom-0 after:bg-linear-to-r;
  }
}
